@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Light.otf") format("opentype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/montserrat/Montserrat-Bold.otf") format("opentype");
}

body, table {
  font-family: 'Montserrat', sans-serif;
  font-size:  13px;
}

.package-name {
  font-size: 22px;
  font-weight:  bold;
}

.price-highlight {
  font-size: 40px;
  font-weight:  bold;
  position: relative;
  top:17px;
}

.price {
  position: relative;
  top: -20px;
}

.content0 {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

.content0-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size:  32px;
}

.content0-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size:  24px;
}

.content1-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size:  24px;
}

.content1-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size:  19px;
}

.content2-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size:  18px;
}

.footer {
  font-size: 11px;
}

.subfooter {
  font-size: 10px;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #00b348;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #00b348;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}