<div class="footer container-fluid pb-3 pt-5 bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <b>HUBUNGI KAMI</b>
          <br /><br />
          0274-5305505<br />
          Senin - Minggu<br />
          24 Jam Nonstop<br />
          <br />
          Jl. Selokan Mataram Monjali<br />
          Karangjati MT I/304<br />
          Sinduadi, Mlati, Sleman<br />
          Yogyakarta 55284
        </div>
        <div class="col-sm-3">
          <b>LAYANAN</b>
          <br /><br />
          Domain<br />
          Shared Hosting<br />
          Cloud VPS Hosting<br />
          Managed VPS Hosting<br />
          Web Builder<br />
          Keamanan SSL / HTTPS<br />
          Jasa Pembuatan Website<br />
          Program Afiliasi
        </div>
        <div class="col-sm-3">
          <b>SERVICE HOSTING</b>
          <br /><br />
          Hosting Murah<br />
          Hosting Indonesia<br />
          Hosting Singapura SG<br />
          Hosting PHP<br />
          Hosting Wordpress<br />
          Hosting Laravel
        </div>
        <div class="col-sm-3">
          <b>TUTORIAL</b>
          <br /><br />
          Knowledgebase<br />
          Blog<br />
          Cara Pembayaran
        </div>
      </div>
      <div class="row mt-5">
          <div class="col-sm-3">
            <b>TENTANG KAMI</b>
            <br /><br />
            Tim Niagahoster<br />
            Karir<br />
            Events<br />
            Penawaran & Promo Spesial<br />
            Kontak Kami
          </div>
          <div class="col-sm-3">
            <b>KENAPA PILIH NIAGAHOSTER</b>
            <br /><br />
            Support Terbaik<br />
            Garansi Harga Termurah<br />
            Domain Gratis Selamanya<br />
            Datacenter Hosting Terbaik<br />
            Review Pelanggan
          </div>
          <div class="col-sm-3">
            <b>NEWSLETTER</b>
            <br /><br />
            <form>
              <div class="form-group row">
                <div class="col-7 pr-0">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email" style="width:100%">
                </div>
                <div class="col-5 p-0">
                  <button type="submit" class="form-control btn btn-primary text-truncate" style="width:100%">Berlangganan</button>
                </div>
              </div>
            </form>
            <span class="text-muted">Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda.</span>
          </div>
          <div class="col-sm-3 text-right">
            <br /><br />
            <div class="col-md-4 fa-stack text-right">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fab fa-facebook-f fa-stack-1x"></i>
            </div>
            <div class="col-md-4 fa-stack text-right">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fab fa-twitter fa-stack-1x"></i>
            </div>
            <div class="col-md-4 fa-stack text-right">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fab fa-google-plus-g fa-stack-1x"></i>
            </div>
          </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <b>PEMBAYARAN</b><br />
          <img src="assets/images/payment.png" class="img-fluid my-2"><br />
          <span class="text-muted">Aktivasi instan dengan e-Payment. Hosting dan domain langsung aktif!</span>
        </div>
      </div>
      <hr />
      <div class="row mt-3 subfooter">
        <div class="col-sm-9">
          Copyright &copy;2016 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta<br>
          Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology
        </div>
        <div class="col-sm-3 text-right">
          Syarat dan Ketentuan | Kebijakan Privasi
        </div>
      </div>
    </div>
  </div>