<div class="container">
    <div class="row">
      <div class="col-lg-6">
        <span class="fa-stack">
          <i class="fas fa-bookmark fa-stack-2x" style="color:#33a6f1"></i>
          <i class="fas fa-tag fa-stack-1x fa-inverse"></i>
        </span>Gratis Ebook 9 Cara Cerdas Menggunakan Domain [x]
      </div>
      <div class="col-lg-6 text-right">
        <span class="mr-3"><i class="fas fa-phone fa-rotate-90"></i> 0274-5305505</span>
        <span class="mr-3"><i class="fas fa-comments"></i> Live Chat</span>
        <span><i class="fas fa-user-circle"></i> Member Area</span>
      </div>
    </div>
  </div>
  
  <hr class="m-0" />

  <div class="container py-2">
    <nav class="navbar navbar-expand-lg navbar-light justify-content-end p-0">
      <a class="navbar-brand" href="#">
        <img src="assets/images/niagahosterlogo.png" alt="Niagahoster" height="50">
      </a>

      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto text-right">
          <li class="nav-item">
            <a class="nav-link" href="#">Hosting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Domain</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Server</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Website</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Afiliasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Promo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pembayaran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kontak</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pr-0" href="#">Blog</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <hr class="m-0" />