<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>NIAGAHOSTER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/css/index.css">
</head>

<body>  


<div class="container-fluid px-0">

  {% include 'header.html.twig' %}

  <div class="container py-3">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="content0-title">PHP Hosting</div>
        <div class="content0-subtitle">Cepat, handal, penuh dengan<br />modul PHP yang Anda butuhkan</div>
        <div class="mt-3 content0">
          <i class="fas fa-check-circle" style="color:#00b348"></i> Solusi PHP untuk performa query yang lebih cepat<br />
          <i class="fas fa-check-circle" style="color:#00b348"></i> Konsumsi memori yang lebih rendah<br />
          <i class="fas fa-check-circle" style="color:#00b348"></i> Suport PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7<br />
          <i class="fas fa-check-circle" style="color:#00b348"></i> Fitur enkripsi IonCube dan Zend Guard Loaders<br />
        </div>
      </div>
      <div class="col-md-6 text-md-right text-center">
        <img src="assets/images/illustration banner PHP hosting-01.svg" class="img-fluid">
      </div>
    </div>
  </div>

  <hr class="m-0" />

  <div class="container py-2">
    <div class="row text-center align-items-center mt-5">
      <div class="offset-2 col-3">
        <img src="assets/images/illustration-banner-PHP-zenguard011.svg" class="figure-img img-fluid">
      </div>  
      <div class="col-2">
        <img src="assets/images/icon-composer1.svg" class="figure-img img-fluid">
      </div>
      <div class="col-3">
        <img src="assets/images/icon-php-hosting-ioncube1.svg" class="figure-img img-fluid">
      </div>
    </div>
    <div class="row text-center align-items-center">
      <div class="offset-2 col-3"><figcaption class="figure-caption text-truncate">PHP Zend Guard Loader</figcaption></div>
      <div class="col-2"><figcaption class="figure-caption text-truncate">PHP Composer</figcaption></div>
      <div class="col-3"><figcaption class="figure-caption text-truncate">PHP ionCube Loader</figcaption></div>
    </div>
  </div>

  <div class="container py-2">
    <div class="row text-center mt-5">
      <div class="col-12">
        <div class="content1-title">Paket Hosting Singapura yang Tepat</div>
        <div class="content1-subtitle">Diskon 40% + Domain dan SSL Gratis untuk Anda</div>
      </div>
    </div>
    
    <div class="row mt-4">
      {% for package in data %}
      <div class="col-sm-6 col-md-3 px-0">

        {% if package.is_best_seller == 1 %}

        <table class="table table-bordered text-center content0" style="border-color:#33a6f1">
          <tr><td class="text-light" style="background-color:#33a6f1;border-color:#33a6f1">
            <div class="ribbon ribbon-top-left"><span>Best Seller!</span></div>
            <span class="package-name">{{ package.name }}</span>
          </td></tr>
          <tr><td class="text-light" style="background-color:#33a6f1;border-color:#33a6f1"><span style="text-decoration: line-through">Rp {{ package.price_old|number_format(0, ',', '.') }}</span><br /><span class="price">Rp <span class="price-highlight">{{ (package.price|number_format(0, ',', '.'))|split('.')[0] }}</span>.<b>{{ (package.price|number_format(0, ',', '.'))|split('.')[1] }}</b>/ bln</span></td></tr>
          <tr><td class="bg-primary text-light" style="border-color:#33a6f1">{{ package.num_of_users|number_format(0, ',', '.') }} Pengguna Terdaftar</td></tr>
          <tr><td style="border-color:#33a6f1">
            {% for item in package.hosting_package_items %}
              {{ item.desc | raw }}<br />
            {% endfor %}
            <br />
            <button type="button" class="mb-2 btn font-weight-bold bg-primary text-light" style="border-radius: 40px;">
              {% if package.discount > 0 %}
                Diskon {{ package.discount }}%
              {% else %}
                Pilih Sekarang
              {% endif %}
            </button>
          </td></tr>
        </table>

        {% else %}
        
        <table class="table table-bordered text-center content0">
          <tr><td><span class="package-name">{{ package.name }}</span></td></tr>
          <tr><td><span style="text-decoration: line-through">Rp {{ package.price_old|number_format(0, ',', '.') }}</span><br /><span class="price">Rp <span class="price-highlight">{{ (package.price|number_format(0, ',', '.'))|split('.')[0] }}</span>.<b>{{ (package.price|number_format(0, ',', '.'))|split('.')[1] }}</b>/ bln</span></td></tr>
          <tr><td>{{ package.num_of_users|number_format(0, ',', '.') }} Pengguna Terdaftar</td></tr>
          <tr><td>
            {% for item in package.hosting_package_items %}
              {{ item.desc | raw }}<br />
            {% endfor %}
            <br />
            <button type="button" class="mb-2 btn btn-outline-dark font-weight-bold" style="border-radius: 40px;">
              {% if package.discount > 0 %}
                Diskon {{ package.discount }}%
              {% else %}
                Pilih Sekarang
              {% endif %}
            </button>
          </td></tr>
        </table>
        {% endif %}
      </div>
      {% endfor %}

    </div>
  </div>

  <div class="container py-2 text-center mt-5">
    <div class="content0-subtitle">Powerful dengan Limit PHP yang Lebih Besar</div>
    <div class="row mt-4">
      <div class="offset-md-2 col-md-4">
        <table class="table table-striped text-center">
          <tr>
            <td><i class="fas fa-check-circle" style="color:#00b348"></i></td>
            <td>max execution time 300s</td>
          </tr>
          <tr>
            <td><i class="fas fa-check-circle" style="color:#00b348"></i></td>
            <td>max execution time 300s</td>
          </tr>
          <tr>
            <td><i class="fas fa-check-circle" style="color:#00b348"></i></td>
            <td>php memory limit 1024 MB</td>
          </tr>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table table-striped text-center">
          <tr>
            <td><i class="fas fa-check-circle" style="color:#00b348"></i></td>
            <td>post max size 128 MB</td>
          </tr>
          <tr>
            <td><i class="fas fa-check-circle" style="color:#00b348"></i></td>
            <td>upload max filesize 128 MB</td>
          </tr>
          <tr>
            <td><i class="fas fa-check-circle" style="color:#00b348"></i></td>
            <td>max input vars 2500</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="container py-2 text-center mt-5">
    <div class="content0-subtitle">Semua Paket Hosting Sudah Termasuk</div>

    <div class="row text-center align-items-center mt-4">
      <div class="col-sm-4">
        <figure class="figure">
          <img src="assets/images/icon PHP Hosting_PHP Semua Versi.svg" class="figure-img" height="65">
          <figcaption class="figure-caption text-center"><div class="content2-title">PHP Semua Versi</div>Pilih mulai dari versi PHP 5.3 s/d PHP 7.<br />Ubah sesuka Anda!</figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure class="figure">
          <img src="assets/images/icon PHP Hosting_My SQL.svg" class="figure-img" height="65">
          <figcaption class="figure-caption text-center"><div class="content2-title">MySQL Versi 5.6</div>Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur.</figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure class="figure">
          <img src="assets/images/icon PHP Hosting_CPanel.svg" class="figure-img" height="65">
          <figcaption class="figure-caption text-center"><div class="content2-title">Panel Hosting cPanel</div>Kelola website dengan panel canggih yang familiar di hati anda.</figcaption>
        </figure>
      </div>
    </div>

    <div class="row text-center align-items-center mt-4">
      <div class="col-sm-4 h-50">
        <figure class="figure">
          <img src="assets/images/icon PHP Hosting_garansi uptime.svg" class="figure-img" height="65">
          <figcaption class="figure-caption text-center"><div class="content2-title">Garansi Uptime 99.9%</div>Data center yang mendukung kelangsungan website Anda 24/7.</figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure class="figure">
          <img src="assets/images/icon PHP Hosting_InnoDB.svg" class="figure-img" height="65">
          <figcaption class="figure-caption text-center"><div class="content2-title">Database InnoDB Unlimited</div>Jumlah dan ukuran database yang tumbuh sesuai kebuthan Anda.</figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure class="figure">
          <img src="assets/images/icon PHP Hosting_My SQL remote.svg" class="figure-img" height="65">
          <figcaption class="figure-caption text-center"><div class="content2-title">Wildcard Remote MySQL</div>Mendukung s/d 25 max_user_connections dan 100 max_connections.</figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class="container pt-3 mt-5">
    <div class="content0-subtitle text-center">Mendukung Penuh Framework Laravel</div>
    <div class="row align-items-center mt-4">
      <div class="col-md-6">
        Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit Anda
        <div class="mt-3">
          <i class="fas fa-check-circle" style="color:#00b348"></i> Install Laravel <b>1 klik</b> dengan Softaculous Installer.<br />
          <i class="fas fa-check-circle" style="color:#00b348"></i> Mendukung ekstensi <b>PHP MCrypt, phar, mbstring, json,</b> dan <b>fileinfo</b>.<br />
          <i class="fas fa-check-circle" style="color:#00b348"></i> Tersedia <b>Composer</b> dan <b>SSH</b> untuk menginstal packages pilihan Anda.
        </div>
        <div class="mt-3">
          Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis
        </div>
        <div class="mt-3">
          <button type="button" class="btn btn-primary font-weight-bold" style="border-radius: 40px;">Pilih Hosting Anda</button>
        </div>
      </div>
      <div class="col-md-6 text-md-right text-center">
        <img src="assets/images/illustration banner support laravel hosting.svg" class="img-fluid">
      </div>
    </div>
  </div>

  <hr class="m-0" />

  <div class="container py-2 mt-5">
    <div class="content0-subtitle text-center">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda</div>
    
    <div class="row mt-4">
      <div class="offset-1 col-2 text-truncate">
        IcePHP<br />
        apc<br />
        apcu<br />
        apm<br />
        ares<br />
        bcmatch<br />
        bcompiler<br />
        big_int<br />
        bitset<br />
        bloomy<br />
        bz2_filter<br />
        clamav<br />
        coin_acceptor<br />
        crack<br />
        dba
      </div>
      <div class="offset-1 col-2 text-truncate">
        http<br />
        huffman<br />
        idn<br />
        igbinary<br />
        imagick<br />
        imap<br />
        included<br />
        inotify<br />
        interbase<br />
        intl<br />
        ioncube_loader<br />
        ioncube_loader_4<br />
        jsmin<br />
        json<br />
        ldap
      </div>
      <div class="offset-1 col-2 text-truncate">
        nd_pdo_mysql<br />
        oauth<br />
        oci8<br />
        odbc<br />
        opcache<br />
        pdf<br />
        pdo<br />
        pdo_dblib<br />
        pdo_firebird<br />
        pdo_mysql<br />
        pdo_odbc<br />
        pdo_pgsql<br />
        pdo_sqlite<br />
        pgsql<br />
        phalcon
      </div>
      <div class="offset-1 col-2 text-truncate">
        stats<br />
        stem<br />
        stomp<br />
        suhosin<br />
        sybase_ct<br />
        sysvmsg<br />
        sysvsem<br />
        sysvshm<br />
        tidy<br />
        timezonedb<br />
        trader<br />
        translit<br />
        uploadprogress<br />
        uri_template<br />
        uuid
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-outline-dark font-weight-bold" style="border-radius: 40px;">Selengkapnya</button>
      </div>
    </div>
  </div>

  <div class="container py-2 mt-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="content0-subtitle">Linux Hosting yang Stabil<br />dengan Teknologi LVE</div>
        <div class="mt-3">
          SuperMicro <b>Intel Xeon 24-Cores</b> server dengan RAM <b>128 GB</b> dan teknologi <b>LVE CloudLinux</b> untuk stabilitas server Anda. Dilengkapi dengan <b>SSD</b> untuk kecepatan <b>MySQL</b> dan caching, Apache load balancer berbasis LiteSpeed Technologies, <b>CageFS</b> security, <b>Raid-10</b> protection dan auto backup untuk keamanan website PHP Anda.
        </div>
        <div class="mt-3">
          <button type="button" class="btn btn-primary font-weight-bold" style="border-radius: 40px;">Pilih Hosting Anda</button>
        </div>
      </div>
      <div class="col-md-6 text-md-right text-center">
        <img src="assets/images/Image support.png" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="container-fluid py-4 bg-light text-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          Bagikan jika Anda menyukai halaman ini.
        </div>
        <div class="col-sm-6">
          <span class="fb-like mr-3" data-href="https://www.facebook.com/Niagahoster/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></span><span id="fb-root"></span><script async defer crossorigin="anonymous" src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v12.0" nonce="4H8Nhlvi"></script>
          <a href="https://twitter.com/niagahoster?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="true"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-5 bg-primary text-white">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-9">
          <div class="content0-subtitle">Perlu <b>BANTUAN?</b> Hubungi Kami : <b>0274-5305505</b></div>
        </div>
        <div class="col-sm-3 text-right">
          <button type="button" class="btn btn btn-outline-light" style="border-radius: 40px;"><i class="fas fa-comments mx-2" style="color:white"></i> <span class="mr-2">Live Chat<span></button>
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.html.twig' %}

</body>
</html>